<%- if signed_in? %>

  <h2>My Starred Repositories</h2>

  <%= render partial: 'repositories/list', locals: {repositories: current_user.repositories} %>

<%- else %>

<div class="hero-unit">
  <div class="row">
    <div class="span1">
      <%= image_tag('star-64.png') %>
    </div>
    <div class="span8">
      <h1>HubStar</h1>
      <p>Is your GitHub activity feed overrun with projects you started
      watching just to remember them for later?</p>
      <p><strong>HubStar them instead!</strong></p>
    </div>
  </div>
</div>

<%= render partial: 'intro' %>

<%- end %>
