<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Watchers</th>
      <th>Forks</th>
    </tr>
  </thead>
  <tbody>
    <% @repositories.each do |repo| %>
      <tr>
        <td><%= repo.name %></td>
        <td><%= repo.description %></td>
        <td><%= repo.watchers %></td>
        <td><%= repo.forks %></td>
    <% end %>
  </tbody>
</table>
