.navbar .brand {
  background: url(image-path('star-24.png')) center left no-repeat;
  padding-left: 30px;
}

.navbar .nav .current-user {
  img {
    margin: 6px 0 0 5px;
  }

  h3 {
    color: #FFF;
    display: inline;
    top: -8px;
    position: relative;
  }
}

div.intro {
  h2 {
    padding: 10px 0;
  }
  p {
    font-size: 120%;
  }
  img {
    border: 2px solid #efefef;
  }
}

footer {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding: 10px 0;
}

footer .pull-right {
  text-align: right;
}
